tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
.bak/*
.DS_Store
*/.DS_Store
.dotter/cache/
.dotter/cache.toml
.dotter/local.toml
.buildian/*
.dotter/*
!.dotter/global.toml
!.dotter/pre_deploy.sh
.obsidian/*
.sublime/*
diagnostics/
diagdump*.txt
set.txt
configs/gtk-3.0/*
configs/GIMP/*/cache/
configs/lnav/view-info*
configs/lnav/*.history
configs/lnav/log_metadata.db
configs/btop/*.log
configs/bat/config
configs/lazygit/config.yml
docs/historical/
configs/zbrowse/