tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
.bak/*
.DS_Store
*/.DS_Store
.dotter/cache/
.dotter/cache.toml
.buildian/*
.dotter/*
.obsidian/*
.sublime/*
diagnostics/
diagdump*.txt
.gitignore
configs/gtk-3.0/bookmarks
configs/GIMP/*/tags.xml
configs/GIMP/*/gimprc
configs/GIMP/*/theme.css
configs/GIMP/*/themerc
configs/lnav/view-info-*
docs/historical

