tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
.bak/*
.DS_Store
*/.DS_Store
.dotter/cache/
.dotter/cache.toml
.buildian/*
.dotter/*
.obsidian/*
.sublime/*
diagnostics/
diagdump*.txt
set.txt
configs/gtk-3.0/*
configs/GIMP/*/cache/
configs/lnav/view-info*
docs/historical/
configs/zbrowse/